name: Clone Repo to Local Server

on:
  push:
    branches: ["main"] # The Event: trigger on every push

jobs:
  clone-repo:
    runs-on: local-server

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: move code from workspace to specific path

        run: |
          mkdir -p /home/tommy/clone-repo/Splitzy/
          mv * /home/tommy/clone-repo/Splitzy/

      - name: email notification
        if: always()
        uses: dawight/send-email-action@v7
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_PASSWORD }}
          password: ${{ secrets.EMAIL_PASSWORD }}

          subject: "Github Action Pipeline Result for ${{ github.repository }}"
          to: rdx.trxaster@gmail.com
          from: Splitzy Basnet Repo
          body: "Build Result ${{ job.status }}"

  # deploy:
  #   runs-on: local-server
  #   needs: build
  #   steps:
  #     - name: deployment to server
  #       run: |
  #         cd /home/tommy/TOMMY/Splitzy
  #         echo "$DOCKER_PSW" | docker login $DOCKER_REGISTRY -u $DOCKER_USER --password-stdin
  #         docker compose -f docker-compose.prod.yml pull
  #         docker rm -f api-container || true
  #         docker rm -f frontend-multistage-container || true
  #         docker compose -f docker-compose.prod.yml up -d --no-build
  #       env:
  #         DOCKER_REGISTRY: docker.io
  #         DOCKER_USER: ${{ secrets.DOCKER_USERNAME}}
  #         DOCKER_PSW: ${{ secrets.DOCKER_PASSWD}}
  #         IMAGE_NAME1: splitzy-backend
  #         IMAGE_NAME2: splitzy-frontend
